body {
    font-family: 'Glacial Indifference', sans-serif;
    background-color: #323131;
    color: #FFFFFF; 
}

h3 {
    text-align: center;
    color: #F7C454;
    font-size:30px;
}

.third-btn-grp button {
    margin: 5px;
}

#input-txt-1 {
    display: inline-block;
    margin-left: 10px;
}